
<div class="container-fluid main">
  <div class="col-md-5 intro">
    <h3>Mortgage Loan</h3>
    <p>Home loan will be a perfect solution if you need a loan for a new home, serious renovation or construction.</p>
    <ul class="list">
      <li>Fast application processing</li>
      <li>Opportunity to pay back earlier and manage your contract via Internet Banking</li>
      <li>We constantly offer discounts for home loans, when you receive the discount code from the seller and, please, do not forget to submit it completing the application for the mortgage loan.</li>
    </ul>
    <button type="button" class="btn  load-form m-4">Fill in the Application Form</button>


  </div>

  <div class="col-md-10 form">
    <app-form (apply) = "newApplication($event)"></app-form>

  </div>


</div>

