
.main{
  height: 100vh;
  background-color: #fbf2ea;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
  display: none;
}

.intro{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3;
  color: rgb(54, 8, 8);
  font-weight: bold;
}

.intro h3{
  color: #ee7023;
  font-weight: bold;
}

.load-form{
  background-color: #31a3ae;
  height: 45px;
  color: white;
  font-weight: 500;
  border: none;

}

ul.list {
  list-style-type: circle;
}


.load-form:hover{
  background-color: #ee7023;
}



@media only screen and (max-width: 600px) {


.main{
  height: 122vh;
  background-color: #fbf2ea;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.intro h3{
  color: #ee7023;
  font-weight: bold;
  margin-top: 10px;
  font-size: 17px;
}



.intro{
  height: auto;
  font-size: 13px;

}

.load-form{
 font-size: 13px;
}



}
