form{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input{
  display: flex;
  margin-top: 16%;
  flex-direction: column;
  justify-content: center;
  display: hide;


}

.full-name input
{
  margin-top: 4px;
  margin-right: 4px;

}

input, select{
  height: 50px;

}

.full-name{
  display: flex;
  justify-content: space-between;
}

label{
  margin-bottom: 4px;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

button{
  height: 50px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid white;
}


.buttons .prev{
  background-color: rgb(126, 42, 101);
  color: white;
}

.buttons .prev:hover{
  background-color: #72605e;
}

.buttons .next{
  background-color: rgb(21, 133, 207);
  color: white;
}

.buttons .next:hover{
  background-color: rgb(6, 62, 99);
  color: white;
}


.form-errors{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.details{

  display: none;
  flex-direction: column;
  background-color: rgba(221, 218, 202, 0.2);

}

.details h3{
  text-transform: capitalize;
  text-align: center;
  color: #ee7023;
  font-weight: bold;

}



.last-buttons{
  display: flex;
  justify-content: space-between;
}

.last-buttons .edit{
  background-color: #ee7023;
  color: white;

}

.last-buttons .edit:hover{

  background-color: #753106;

}

.last-buttons .submit{
  background-color: #31a3ae;
  color: white;
}

.last-buttons .submit:hover{
  background-color: #0c575e;
}





@media only screen and (max-width: 600px) {

  label{
    font-size: 13px;
  }

  input, select{
    height: 40px;

  }

 

  button{
    height: 40px;
    width: 100px;
    font-size: 13px;
    border-radius: 25px;
    border: 2px solid white;
  }

  .form-errors{
    font-size: 13px;

  }

  .full-name input
{
  margin-right: 4px;

}


.form-input{
    display: flex;
    margin-top: 50%;
    flex-direction: column;
    justify-content: center;


  }

  }

