<form (ngSubmit)="submit()" enctype="multipart/form-data" class="appForm" [formGroup]="multistep">
  <div class="col-md-5 form-input">
    <div class="form-group m-3" *ngIf="question == 1" formGroupName="fullName">
      <label for="name">Full Name</label>
      <div class="full-name d-flex">
        <input type="text" class="form-control" formControlName="first_name"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="First Name">

          <input type="text" class="form-control" formControlName="last_name"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Last Name">
          <!-- {{fullName['first_name'].value}} -->

      </div>
      <div class="form-errors mt-2">
        <!-- first name errors -->
         <span class="text-danger" *ngIf="submitted && fullName['first_name'].errors?.['required']">Please enter your first name</span>
         <span class="text-danger" *ngIf="submitted && fullName['first_name'].errors?.['minlength']">First name should not be less than 3 characters</span>

          <!-- last name erors -->
         <span class="text-danger" *ngIf="submitted && fullName['last_name'].errors?.['required']">Please enter your last name</span>
         <span class="text-danger" *ngIf="submitted && fullName['last_name'].errors?.['minlength']">Last name should not be less than 3 characters</span>

      </div>
    </div>

    <div class="form-group m-3" *ngIf="question == 2" formGroupName="idNumber">
      <label for="name">ID Number</label>
      <input type="text" class="form-control" formControlName="id_number"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="ID Number">
      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && idNumber['id_number'].errors?.['required']">Please enter your ID Number</span>
        <span class="text-danger" *ngIf="submitted && idNumber['id_number'].errors?.['pattern']">identity number should be all digits</span>
        <span class="text-danger" *ngIf="submitted && idNumber['id_number'].errors?.['minlength']">identity number digits should be not less than 8</span>
      </div>
    </div>
    <div class="form-group m-3" *ngIf="question == 3" formGroupName="idUpload">
      <label for="name">ID Upload</label>
      <input type="file" class="form-control" formControlName="id_upload"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="ID Upload">
      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && idUpload['id_upload'].errors?.['required']">Please attach your ID copy</span>
      </div>
    </div>
    <div class="form-group m-3" *ngIf="question == 4" formGroupName="phoneNumber">
      <label for="name">Phone Number</label>
      <input type="text" class="form-control" formControlName="phone_number"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Phone Number">
      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && phoneNumber['phone_number'].errors?.['required']">Please enter your Phone Number</span>
        <span class="text-danger" *ngIf="submitted && phoneNumber['phone_number'].errors?.['pattern']">Phone number is not 10 digit</span>
      </div>
    </div>
    <div class="form-group m-3" *ngIf="question == 5" formGroupName="emailAddress">
      <label for="name">Email Address</label>
      <input type="email" class="form-control" formControlName="email"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Email Address">
      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && emailAddress['email'].errors?.['required']">Please enter your email address</span>
        <span class="text-danger" *ngIf="submitted && emailAddress['email'].errors?.['email']">Invalid email address</span>
      </div>
    </div>

    <div class="form-group m-3" *ngIf="question == 6" formGroupName="maritalStatus">
      <label for="name">Marital Status</label>
      <select  class="form-select" formControlName="marital_status" aria-placeholder="select"
        aria-label="Default select example" id="marital_status"
        name="marital_status" required>
        <option value="" disabled selected>Select your option</option>
        <option value="Single">Single</option>
        <option value="Married">Married</option>
        <option value="Divorced">Divorced</option>
        <option value="Windowed">Windowed</option>
      </select>
      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && maritalStatus['marital_status'].errors?.['required']">Please select your marital status</span>
      </div>
    </div>
    <div class="form-group m-3" *ngIf="question == 7" formGroupName="workPlace">
      <label for="name">Work Place</label>
      <input type="text" class="form-control" formControlName="work_place"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Work Place">
      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && workPlace['work_place'].errors?.['required']">Please enter your place of work</span>
      </div>
    </div>
    <div class="form-group m-3" *ngIf="question == 8" formGroupName="jobTitle">
      <label for="name">Job Title</label>
      <input type="text" class="form-control" formControlName="job_title"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Job Title">
      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && jobTitle['job_title'].errors?.['required']">Please enter your job title</span>
      </div>
    </div>

    <div class="form-group m-3" *ngIf="question == 9" formGroupName="monthlyNetIncome">
      <label for="name">Monthly Net Income</label>
      <input type="number" class="form-control" formControlName="monthly_income"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Monthly Net Income">

      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && monthlyNetIncome['monthly_income'].errors?.['required']">Please enter your monthly net income</span>
      </div>
      </div>
    <div class="form-group m-3" *ngIf="question == 10" formGroupName="incomeProof">
      <label for="name">Income Proof</label>
      <input type="file" class="form-control" formControlName="income_proof"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Income Proof">

      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && incomeProof['income_proof'].errors?.['required']">Please attach your income proof</span>
      </div>
    </div>

    <div class="form-group m-3" *ngIf="question == 11" formGroupName="ongoingLoan">
      <label for="name">Ongoing Loan</label>
      <select (change)="ongoingLoanPayment($event)" class="form-select" formControlName="ongoing_loan" aria-placeholder="select"
        aria-label="Default select example" id="ongoing_loan" required>
        <option value="" disabled selected>Select your option</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && ongoingLoan['ongoing_loan'].errors?.['required']">Ongoing loan field required </span>
      </div>
    </div>
    <div class="form-group m-3" *ngIf="question == 12" formGroupName="monthlyLoanAmount">
      <label for="name">Monthly ongoing loan  amount</label>
      <input type="number" class="form-control" formControlName="monthly_loan_amount"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Monthly ongoing loan amount">
      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && monthlyLoanAmount['monthly_loan_amount'].errors?.['required']">Please enter your ongoing monthly loan amount</span>
      </div>
    </div>

    <div class="form-group m-3" *ngIf="question == 13" formGroupName="occupancyStatus">
      <label for="name">Occupancy Status</label>
      <select  class="form-select" formControlName="occupancy_status" aria-placeholder="select"
        aria-label="Default select example" id="occupancy_status" required>
        <option value="" disabled selected>Select your option</option>
        <option value="Homeowner">Homeowner</option>
        <option value="Tenant">Tenant</option>
        <option value="Living with Parent/relatives/friend">
          Living with Parent/relatives/friend
        </option>
        <option value="Living in a hotel">Living in a hotel</option>
      </select>
      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && occupancyStatus['occupancy_status'].errors?.['required']">Please select your occupancy status</span>
      </div>
    </div>
    <div class="form-group m-3" *ngIf="question == 14" formGroupName="typeOfPurchase">
      <label for="name">Type of Purchase</label>
      <select  class="form-select" formControlName="purchase_type" aria-placeholder="select"
        aria-label="Default select example" id="purchase_type" required>
        <option value="" disabled selected>Select your option</option>
        <option value="Primary Residence">Primary Residence</option>
        <option value="Secondary Residence">Secondary Residence</option>
        <option value="Investment">Investment</option>
        <option value="Close Person Residence">Close Person Residence</option>
      </select>
      <div class="form-errors mt-2">
       <span class="text-danger" *ngIf="submitted && typeOfPurchase['purchase_type'].errors?.['required']">Please select your type of purchase</span>
      </div>
    </div>

    <div class="form-group m-3" *ngIf="question == 15" formGroupName="bankAccount">
      <label for="name">Bank Account</label>
      <input type="text" class="form-control" formControlName="account_number"  id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Bank Account Number">
      <div class="form-errors mt-2">
        <span class="text-danger" *ngIf="submitted && bankAccount['account_number'].errors?.['required']">Please enter your bank account number</span> <br>
        <span class="text-danger" *ngIf="submitted && bankAccount['account_number'].errors?.['pattern']">Bank account number should be only digits</span> <br>
        <span class="text-danger" *ngIf="submitted && bankAccount['account_number'].errors?.['minlength']">Bank account number should not be less than 7 digits</span>
      </div>

    </div>

    <div class="form-group m-3 buttons">
      <button class="prev" type="button" *ngIf="question >1 && question <=15" (click)="previous()">
        Previous
      </button>
      <button type="submit" class="next" *ngIf="question <= 14" >Next</button>
      <button  class="next final-btn" *ngIf="question == 15" >Preview</button>

    </div>
  </div>
  <div class="col-md-6 details">
    <h3>Mortgage loan Application Details</h3>
    <p>Full name: {{fullName['first_name'].value}} {{fullName['last_name'].value}} </p>
    <p>ID number: {{idNumber['id_number'].value}} </p>
    <p>ID upload: {{idUpload['id_upload'].value}} </p>
    <p>Phone Number: {{phoneNumber['phone_number'].value}} </p>
    <p>Email address: {{emailAddress['email'].value}} </p>
    <p>Marital status: {{maritalStatus['marital_status'].value}} </p>
    <p>Work place: {{workPlace['work_place'].value}} </p>
    <p>Job title: {{jobTitle['job_title'].value}} </p>
    <p>Monthly net income: {{monthlyNetIncome['monthly_income'].value}} </p>
    <p>Income proof: {{incomeProof['income_proof'].value}} </p>
    <p>Ongoing loan: {{ongoingLoan['ongoing_loan'].value}} </p>
    <p *ngIf="ongoing_loan_payment == 'Yes'">Monthly loan amount: {{monthlyLoanAmount['monthly_loan_amount'].value}} </p>
    <p>Occupancy status: {{occupancyStatus['occupancy_status'].value}} </p>
    <p>Type of purchase: {{typeOfPurchase['purchase_type'].value}} </p>
    <p>Bank account: {{bankAccount['account_number'].value}} </p>

    <div class="last-buttons mt-4">
      <button type="submit" class="edit" (click)="makeChanges()" >Make changes</button>
      <button type="submit" class="submit" >Submit</button>

    </div>

  </div>
</form>



